<div class="githubuser">
  <div class="row">
    <div class="col-md-10">
      <h1>{{hubuser.name}}</h1>
      <div class="row">
        <p class="col-md-3 color-muted">login: <span class="color-normal">{{hubuser.login}}</span></p>
        <p class="col-md-3 color-muted">id: <span class="color-normal">{{hubuser.id}}</span></p>
        <p class="col-md-3 color-muted">location: <span class="color-normal">{{hubuser.location}}</span></p>
      </div>
      <div class="row">
        <p class="col-md-6 color-muted">created: <span class="color-normal">{{hubuser.created_at | amDateFormat:'dddd, Do MMMM YYYY'}}</span></p>
        <p class="col-md-6 color-muted">last modified: <span class="color-normal" am-time-ago="hubuser.updated_at"></span></p>
      </div>
      <div class="row">
        <p class="col-md-3 color-muted">public repositories: <span class="color-normal">{{hubuser.public_repos}}</span></p>
        <p class="col-md-3 color-muted">public gists: <span class="color-normal">{{hubuser.public_gists}}</span></p>
        <p class="col-md-3 color-muted">followers: <span class="color-normal">{{hubuser.followers}}</span></p>
        <p class="col-md-3 color-muted">following: <span class="color-normal">{{hubuser.following}}</span></p>
      </div>
    </div>
    <div class="col-md-2">
      <img class="img-properties" src="{{hubuser.avatar_url}}">
    </div>
  </div>
  <hr/>
<!--
  <div class="col-md-4">
    <h4>followers</h4>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="..." alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Name of follower</h4>
          <p>repos: </p>
          <p>gists: </p>
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <h4>following</h4>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="..." alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Name of following person</h4>
          <p>repos: </p>
          <p>gists: </p>
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <h4>subscriptions</h4>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Subscription name</h4>
      </div>
    </div>
  </div>
  -->
</div>
