<section data-ng-controller="HubusersCtrl" data-ng-init="getHubUser()">
<div class="githubuser">
  <div class="row">
    <div class="col-md-10">
      <h1>{{hubuser.name}}</h1>
      <div class="row">
        <p class="col-md-3 color-muted">login: <span class="color-normal">{{hubuser.login}}</span></p>
        <p class="col-md-3 color-muted">id: <span class="color-normal">{{hubuser.id}}</span></p>
        <p class="col-md-3 color-muted">location: <span class="color-normal">{{hubuser.location}}</span></p>
      </div>
      <div class="row">
        <p class="col-md-6 color-muted">created: <span class="color-normal">{{hubuser.created_at | amDateFormat:'dddd, Do MMMM YYYY'}}</span></p>
        <p class="col-md-6 color-muted">last modified: <span class="color-normal" am-time-ago="hubuser.updated_at"></span></p>
    </div>
      <div class="row">
        <p class="col-md-3 color-muted">public repositories: <span class="color-normal">{{hubuser.public_repos}}</span></p>
        <p class="col-md-3 color-muted">public gists: <span class="color-normal">{{hubuser.public_gists}}</span></p>
        <p class="col-md-3 color-muted">followers: <span class="color-normal">{{hubuser.followers}}</span></p>
        <p class="col-md-3 color-muted">following: <span class="color-normal">{{hubuser.following}}</span></p>
        <p class="col-md-12 color-muted">This user is hireable:
          <span ng-if="hubuser.hireable" class="glyphicon glyphicon-ok glyphicon-green"></span>
          <span ng-if="!hubuser.hireable" class="glyphicon glyphicon-remove glyphicon-red"></span>
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <img class="img-properties" src="{{hubuser.avatar_url}}">
    </div>
  </div>
  <hr/>

  <section data-ng-controller="HubusersCtrl" data-ng-init="getFollowers()">
    <div class="col-md-12">
      <h4>Followers:</h4>
      <div class="row">
          <div ng-repeat="follower in followers">
            <div class="col-md-6">
              <div class="panel panel-default">

                <div class="panel-heading">
                  <h4>{{follower.login}}</h4>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-follower-properties" src="{{follower.avatar_url}}">
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-10">
                        <p class="color-muted">Name: {{follower.name}}</p>
                      </div>
                      <div class="col-md-10">
                        <p class="color-muted">Number of repositories: {{follower.name}}</p>
                      </div>
                      <div class="col-md-10">
                        <p class="color-muted">Organizations: {{follower.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section data-ng-controller="HubusersCtrl" data-ng-init="getFollowing()">
    <div class="col-md-12">
      <hr/>
      <h4>Following:</h4>
      <div class="row">
        <div ng-repeat="following in followings">
          <div class="col-md-6">
            <div class="panel panel-default">

              <div class="panel-heading">
                <h4>{{following.login}}</h4>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <img class="img-follower-properties" src="{{following.avatar_url}}">
                  </div>
                  <div class="col-md-8">
                    <div class="col-md-10">
                      <p class="color-muted">Name: {{following.name}}</p>
                    </div>
                    <div class="col-md-10">
                      <p class="color-muted">Number of repositories: {{following.name}}</p>
                    </div>
                    <div class="col-md-10">
                      <p class="color-muted">Organizations: {{following.name}}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section data-ng-controller="HubusersCtrl" data-ng-init="getRepositories()">
    <div class="col-md-12">
      <hr/>
      <h4>Repositories:</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="repo in repos">
          <h4 class="list-group-item-heading">{{repo.name}}</h4>
          <br/>
          <div class="row">
            <p class="col-md-2">{{repo.language}}</p>
            <p class="col-md-2 color-muted">Size: <span class="color-normal">{{repo.size}} KB</span></p>
            <p class="col-md-4 color-muted">Created: <span class="color-normal">{{repo.created_at | amDateFormat:'Do MMMM YYYY'}}</span></p>
            <p class="col-md-4 color-muted"> Updated: <span class="color-normal" am-time-ago="repo.updated_at"></span></p>
          </div>
            <p class="list-group-item-text">{{repo.description}}</p>
        </li>
      </ul>
    </div>

  </section>

</div>
</section>
