<ul class="githubusers">
  <li ng-repeat="hubuser in hubusers"
      class="thumbnail">
    <div class="row">
      <div class="col-md-2">
        <a href={{hubuser.html_url}}>
          <img class="img-properties" src="{{hubuser.avatar_url}}">
        </a>
      </div>
      <div class="col-md-8">
        <a ui-sref="hubusersDetail({login:hubuser.login})">
          <div ui-view="hubuserName"></div>
        </a>
      <a ui-sref="hubusersDetail({login:hubuser.login})">
        <p>{{hubuser.login}}</p>
      </a>
        <div ng-include='api.github.com/users/'{{hubuser.login}}'/subscriptions'></div>
      </div>
      <div class="col-md-2">
        <p>hireable</p>
      </div>
    </div>
  </li>
</ul>
