<div class="col-md-12">
<div class="jumbotron">
  <h1>Welcome to Github User Lister</h1>
  <p><a class="btn btn-success" ui-sref="hubusersIndex">Lets see some users.</a></p>
</div>

<h4>Used technologies:</h4>
<div class="row">
  <div class="col-md-4 thumbnail main-view-properties">
    <h4>Angular</h4>
    <p>
      AngularJS is an open-source web application framework maintained by Google and by a community of
      individual developers and corporations to address many of the challenges encountered in developing single-page applications
    </p>
  </div>
  <div class="col-md-4  thumbnail main-view-properties">
    <h4>Moment.js</h4>
    <p>
      Parse, validate, manipulate, and display dates in JavaScript.
    </p>
  </div>
  <div class="col-md-4  thumbnail main-view-properties">
    <h4>Bootstrap</h4>
    <p>
      Bootstrap is a free and open-source collection of tools for creating websites and web applications.
      It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components,
      as well as optional JavaScript extensions.
    </p>
  </div>
</div>
</div>
